.header{
 height: 150px;
 background-color: grey;
 margin-bottom: 10px;
}
.navigation{
height: 50px;
background-color: grey;
margin-bottom: 10px;
}


.left-box1{
 height: 250px;
 background-color: grey;
 margin-bottom: 10px;
}

.right-box1{
 height: 150px;
 background-color: grey;
 margin-bottom: 10px;
}
.right-box2{
height: 200px;
background-color: grey;
margin-bottom: 10px;
}
.right-box3{
 height: 100px;
 background-color: grey;
 margin-bottom: 10px;
}
.right-box4{
 height: 100px;
 background-color: lightslategrey;
 margin-bottom: 10px;
}
.right-box5{
 height: 128px;
 background-color: grey;
 margin-bottom: 10px;
}
.footer{
 height: 110px;
 background-color: grey;
}
